# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs
.vscode/
.idea/

# Databases
*.db

# GIS Cache
ner-logistics-mvp/gis-data/scripts/cache/
